@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="headerbox">
        <div class="leftbox">
            <h4>Ready To Explore?</h4>
            <img src="~/images/arrowdown.png" alt="Arrow down" />
        </div>
        <div class="rightbox">
            <h1 class="mainfont">TRAVEL</h1>
            <h3 class="mainfont">The World Is Waiting</h3>
        </div>

    </section>


