@using TravelCatalogue.Models;
@using WebMatrix.Data;
@{
    TravelCatalogueDBContext db = new TravelCatalogueDBContext();
    var destinations = db.Destinations;
}
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div style="position: absolute; right: 100px; bottom: 120px; color: white; text-align: end">
        <h1 style="font-size: 80px; ">Travel</h1>
        <h2>Disover Your Surroundings<br /> - The World Is Waiting</h2>

    </div>

    <section>

        <div class="tips" style="clear:both">
            <h2></h2>
            @foreach (var des in destinations)
            {
                <div><h1>@des.City</h1></div>
                @await Html.PartialAsync("_ForsideLand", des)
            }
        </div>
        }
    </section>


</body>

