@model TravelCatalogue.Models.BoxTips
@using TravelCatalogue.Models;
@{
    ViewData["Title"] = "Home Page";
}

<body style="        background-image: url(https://cdn.pling.com/img/a/2/a/5/31c196d644d2563de72a36b8eb862141afd0.jpg);
        background-size: cover;
        background-repeat: no-repeat">
    <div style="position: absolute; right: 100px; bottom: 120px; color: white; text-align: end">
        <h1 style="font-size: 80px; ">Travel</h1>
        <h2>Disover Your Surroundings<br /> - The World Is Waiting</h2>

    </div>

    <section>
        @if (Model.BoxTips.OfType<BoxTips>().ToList().Count > 0)
        {
            <div class="tips" style="clear:both">
                <h2>@Model.Title</h2>
                @foreach (BoxTips boxTips in Model.BoxTips.OfType<BoxTips>().ToList())
                {
                    @await Html.PartialAsync("_ForsideLand")
                }
            </div>
        }
    </section>


</body>

