@model TravelCatalogue.Models.Attraction
@using TravelCatalogue.Models;



<div class="">
    <text>@Model.AttractionName <br /> @Model.AttractionDescription</text>

    <img src="@Model.AttractionImage" />
</div>
